<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urjc.rubnsnchez.fairwage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".init.MyApplication">

        <activity
            android:name="com.urjc.rubnsnchez.fairwage.init.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.urjc.rubnsnchez.fairwage.init.RegisterActivity"
            android:label="Pantalla de Registro"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.urjc.rubnsnchez.fairwage.init.contacts.SearchActivity"
            android:label="Pantalla de Búsqueda"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.urjc.rubnsnchez.fairwage.init.contacts.ProfileActivity"
            android:label="Pantalla de Búsqueda"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.urjc.rubnsnchez.fairwage.init.contacts.EditActivity"
            android:label="Pantalla de Búsqueda"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.urjc.rubnsnchez.fairwage.init.contacts.ContactListActivity"
            android:label="Pantalla de Búsqueda"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.urjc.rubnsnchez.fairwage.init.contacts.ProfileContactActivity"
            android:label="Pantalla de Búsqueda"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.urjc.rubnsnchez.fairwage.init.contacts.NegotiationActivity"
            android:label="Pantalla de Búsqueda"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
